#style {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:red;
    font-family: Arial, sans-serif;
    font-size: 15px;
 }
 
 .nav-link {
    display: inline-block;
    width: 100px;
    height: 55px;
    color: rebeccapurple;
    text-align: center;
    line-height: 55px;
    text-decoration: tomato;
 }
 
 #logo {
    width: 120px;
 
    background-color: RoyalBlue;
 
    font-weight: bold;
 }
 
 #about {
    background-color: purple;
    position: absolute;
    top: 0;
    right: 0;
 }